.BOX№1{
background-color: aqua;


}



.first{
    color: rgb(21, 46, 46);
    padding-top: 0px;
    padding: 0% 50%;
    font-size: 50px;

}

.second {
    color: rgb(24, 13, 13);
    font-size: 30px;
}